<footer
  class="border-border-dark mt-4 w-full border-t pt-2"
  aria-labelledby="footer-heading"
>
  <h2 class="sr-only" id="footer-heading">Credits</h2>
  <p
    class="text-foreground-secondary mb-1 text-center text-[0.95rem] leading-[1.6] italic"
  >
    © 2025
    <a
      href="https://lucapattocchio.dev"
      target="_blank"
      title="Luca Pattocchio's personal website"
      rel="noopener">Luca Pattocchio</a
    >
    (<span class="highlight">Kasui</span>).
  </p>
</footer>
