<nav class="w-full p-4">
  <div class="container mx-auto flex items-center justify-between">
    <span class="text-foreground-bright text-xl font-bold">
      $ <a href="/" title="Home" class="text-primary no-underline">omakube</a>
    </span>
    <ul class="mt-auto flex space-x-4">
      <li>
        <a
          href="/manual"
          class="text-foreground-secondary no-underline hover:underline"
          title="Manual">Manual</a
        >
      </li>
      <li>
        <a
          href="https://github.com/omakasui/omakube"
          class="text-foreground-secondary no-underline hover:underline"
          title="GitHub Repository"
          target="_blank"
          rel="noopener noreferrer"
        >
          Repository
        </a>
      </li>
      <li>
        <a
          href="https://omakasui.org"
          class="text-foreground-secondary no-underline hover:underline"
          title="See other projects by the author">More</a
        >
      </li>
    </ul>
  </div>
</nav>
