---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div
    class="m-auto flex h-full w-full flex-col items-center justify-center px-16 text-center"
  >
    <h1 class="mb-16 text-6xl font-bold">404</h1>
    <p class="mb-32 text-xl">
      <i>Oops!</i> The page you're looking for doesn't exist.
    </p>
    <a href="/">Go back to the homepage</a>
  </div>
</Layout>
